
<div style="opacity:97%;background-image: url(../assets/img/fondo.jpg);background-position: center;width: 100vw;height: 100vh;background-size: cover;overflow: hidden;">
  <div class="row" style="display: flex;justify-content: flex-end; margin: 10px;">
    <div class="col col-12 col-md-4 col-sm-8 col-xs-10">
      <div class="input-group ">
        <span class="input-group-text"><i class="fa fa-search" aria-hidden="true"></i></span>
        <input class="form-control" placeholder="Busqueda..." >
      </div>
    </div>
  </div>
  <br>
  <div class="row" >
    <div class="col col-12 col-md-12 col-sm-12 col-xs-12">
      <h1>Rick and Morthy</h1>
    </div>
  </div>
  <div class="row" >
    <div class="col card">
      <img src="../assets/img/fondo.jpg">
      <div style="padding: 10px;">
        <h5>Rick and Morthy</h5>
        <p><i class="fas fa-circle"></i> Desconocido-Humanoide</p>
        <h5>Ultima ubicacion conocida</h5>
        <p>Ciudadela de Ricks</p>
        <h5>primera aparicion</h5>
        <p>Capitulo 12</p>
      </div>
      
    </div>
    <div class="col card">
      <img src="../assets/img/fondo.jpg">
      <h1>Rick and Morthy</h1>
    </div>
    <div class="col card">
      <img src="../assets/img/fondo.jpg">
      <h1>Rick and Morthy</h1>
    </div>
    <div class="col card">
      <img src="../assets/img/fondo.jpg">
      <h1>Rick and Morthy</h1>
    </div>
    <div class="col card">
      <img src="../assets/img/fondo.jpg">
      <h1>Rick and Morthy</h1>
    </div>
    <div class="col card">
      <img src="../assets/img/fondo.jpg">
      <h1>Rick and Morthy</h1>
    </div>
  </div>
</div>
