@font-face {
    font-family: 'getSchwifty';
    src:
        url('../assets/tipografia/get_schwifty.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

h1 {
  font-family: 'getSchwifty';
  color: #00afd4;
  -webkit-text-stroke: 1px #00343a;
  text-align: center;
}

.card{
    width: 100%;
    margin: 20px;
    padding: 0%;
    border-radius: 5%;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0, 0,0, 0.2);
}